<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.test.mapper.auto.SysMycourseMapper">
  <resultMap id="BaseResultMap" type="com.fc.test.model.auto.SysMycourse">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="course_id" jdbcType="INTEGER" property="courseId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
<sql id="Base_Column_List">
	  	  	      	id,
       	  	      	user_id,
       	  	      	course_id,
       	  	      	create_date,
       	  	    	  	status
       	</sql>
  <select id="selectByExample" parameterType="com.fc.test.model.auto.SysMycourseExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_sys_mycourse
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sys_mycourse
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_sys_mycourse
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fc.test.model.auto.SysMycourseExample">
    delete from t_sys_mycourse
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  
  <insert id="insert" parameterType="com.fc.test.model.auto.SysMycourse">
    insert into t_sys_mycourse (
      	  	       id,
       	  	       user_id,
       	  	       course_id,
       	  	       create_date,
       	  	    	  status
       	    )
    values (
	  	  	      	#{id,jdbcType=INTEGER},
       	  	      	#{userId,jdbcType=INTEGER},
       	  	      	#{courseId,jdbcType=INTEGER},
       	  	      	#{createDate,jdbcType=TIMESTAMP},
       	  	    	  #{status,jdbcType=TINYINT}
       	    )
  </insert>
  
  <insert id="insertSelective" parameterType="com.fc.test.model.auto.SysMycourse">
    insert into t_sys_mycourse
    <trim prefix="(" suffix=")" suffixOverrides=",">
          
      <if test="id != null">
        id,
      </if>
      
         
      <if test="userId != null">
        user_id,
      </if>
      
         
      <if test="courseId != null">
        course_id,
      </if>
      
         
      <if test="createDate != null">
        create_date,
      </if>
      
         
      <if test="status != null">
        status,
      </if>
      
         </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
          <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
          <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
          <if test="courseId != null">
        #{courseId,jdbcType=INTEGER},
      </if>
          <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
          <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
        </trim>
  </insert>
  
  <select id="countByExample" parameterType="com.fc.test.model.auto.SysMycourseExample" resultType="java.lang.Long">
    select count(*) from t_sys_mycourse
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <update id="updateByExampleSelective" parameterType="map">
    update t_sys_mycourse
    <set>
          <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
          <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
          <if test="record.courseId != null">
        course_id = #{record.courseId,jdbcType=INTEGER},
      </if>
          <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
          <if test="record.status != null">
        status = #{record.status,jdbcType=TINYINT},
      </if>
         
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  
  <update id="updateByExample" parameterType="map">
    update t_sys_mycourse
    set
            	     	 id = #{record.id,jdbcType=INTEGER},
    	         	     	 user_id = #{record.userId,jdbcType=INTEGER},
    	         	     	 course_id = #{record.courseId,jdbcType=INTEGER},
    	         	     	 create_date = #{record.createDate,jdbcType=TIMESTAMP},
    	         	     	 status = #{record.status,jdbcType=TINYINT}
    	         <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  
      <update id="updateByPrimaryKeySelective" parameterType="com.fc.test.model.auto.SysMycourse">
    update t_sys_mycourse
    <set>
                          <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
                      <if test="courseId != null">
        course_id = #{courseId,jdbcType=INTEGER},
      </if>
                      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
                      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
              </set>
    where 
            id = #{id,jdbcType=INTEGER}
                                          
  </update>

      	      	   	      	   	      	   	      	   	      	

  <update id="updateByPrimaryKey" parameterType="com.fc.test.model.auto.SysMycourse">
    update t_sys_mycourse
    set 
             	        	    	 			user_id = #{userId,jdbcType=INTEGER},
		     	        	    	 			course_id = #{courseId,jdbcType=INTEGER},
		     	        	    	 			create_date = #{createDate,jdbcType=TIMESTAMP},
		     	        	    	 			status = #{status,jdbcType=TINYINT}
		     	        where 
            id = #{id,jdbcType=INTEGER}
                                            
  </update>
  
                             
</mapper>