<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.test.mapper.auto.SysVipMapper">
  <resultMap id="BaseResultMap" type="com.fc.test.model.auto.SysVip">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="card" jdbcType="VARCHAR" property="card" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="balance" jdbcType="DECIMAL" property="balance" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
<sql id="Base_Column_List">
	  	  	      	id,
       	  	      	card,
       	  	      	level,
       	  	      	balance,
       	  	      	type,
       	  	      	user_id,
       	  	      	create_date,
       	  	      	remark,
       	  	      	status,
       	  	      	update_date,
       	  	    	  	user_name
       	</sql>
  <select id="selectByExample" parameterType="com.fc.test.model.auto.SysVipExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_sys_vip
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sys_vip
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_sys_vip
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fc.test.model.auto.SysVipExample">
    delete from t_sys_vip
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  
  <insert id="insert" parameterType="com.fc.test.model.auto.SysVip">
    insert into t_sys_vip (
      	  	       id,
       	  	       card,
       	  	       level,
       	  	       balance,
       	  	       type,
       	  	       user_id,
       	  	       create_date,
       	  	       remark,
       	  	       status,
       	  	       update_date,
       	  	    	  user_name
       	    )
    values (
	  	  	      	#{id,jdbcType=INTEGER},
       	  	      	#{card,jdbcType=VARCHAR},
       	  	      	#{level,jdbcType=VARCHAR},
       	  	      	#{balance,jdbcType=DECIMAL},
       	  	      	#{type,jdbcType=VARCHAR},
       	  	      	#{userId,jdbcType=INTEGER},
       	  	      	#{createDate,jdbcType=TIMESTAMP},
       	  	      	#{remark,jdbcType=VARCHAR},
       	  	      	#{status,jdbcType=TINYINT},
       	  	      	#{updateDate,jdbcType=TIMESTAMP},
       	  	    	  #{userName,jdbcType=VARCHAR}
       	    )
  </insert>
  
  <insert id="insertSelective" parameterType="com.fc.test.model.auto.SysVip">
    insert into t_sys_vip
    <trim prefix="(" suffix=")" suffixOverrides=",">
          
      <if test="id != null">
        id,
      </if>
      
         
      <if test="card != null">
        card,
      </if>
      
         
      <if test="level != null">
        level,
      </if>
      
         
      <if test="balance != null">
        balance,
      </if>
      
         
      <if test="type != null">
        type,
      </if>
      
         
      <if test="userId != null">
        user_id,
      </if>
      
         
      <if test="createDate != null">
        create_date,
      </if>
      
         
      <if test="remark != null">
        remark,
      </if>
      
         
      <if test="status != null">
        status,
      </if>
      
         
      <if test="updateDate != null">
        update_date,
      </if>
      
         
      <if test="userName != null">
        user_name,
      </if>
      
         </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
          <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
          <if test="card != null">
        #{card,jdbcType=VARCHAR},
      </if>
          <if test="level != null">
        #{level,jdbcType=VARCHAR},
      </if>
          <if test="balance != null">
        #{balance,jdbcType=DECIMAL},
      </if>
          <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
          <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
          <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
          <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
          <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
          <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
          <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
        </trim>
  </insert>
  
  <select id="countByExample" parameterType="com.fc.test.model.auto.SysVipExample" resultType="java.lang.Long">
    select count(*) from t_sys_vip
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <update id="updateByExampleSelective" parameterType="map">
    update t_sys_vip
    <set>
          <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
          <if test="record.card != null">
        card = #{record.card,jdbcType=VARCHAR},
      </if>
          <if test="record.level != null">
        level = #{record.level,jdbcType=VARCHAR},
      </if>
          <if test="record.balance != null">
        balance = #{record.balance,jdbcType=DECIMAL},
      </if>
          <if test="record.type != null">
        type = #{record.type,jdbcType=VARCHAR},
      </if>
          <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
          <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
          <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
          <if test="record.status != null">
        status = #{record.status,jdbcType=TINYINT},
      </if>
          <if test="record.updateDate != null">
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
          <if test="record.userName != null">
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
         
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  
  <update id="updateByExample" parameterType="map">
    update t_sys_vip
    set
            	     	 id = #{record.id,jdbcType=INTEGER},
    	         	     	 card = #{record.card,jdbcType=VARCHAR},
    	         	     	 level = #{record.level,jdbcType=VARCHAR},
    	         	     	 balance = #{record.balance,jdbcType=DECIMAL},
    	         	     	 type = #{record.type,jdbcType=VARCHAR},
    	         	     	 user_id = #{record.userId,jdbcType=INTEGER},
    	         	     	 create_date = #{record.createDate,jdbcType=TIMESTAMP},
    	         	     	 remark = #{record.remark,jdbcType=VARCHAR},
    	         	     	 status = #{record.status,jdbcType=TINYINT},
    	         	     	 update_date = #{record.updateDate,jdbcType=TIMESTAMP},
    	         	     	 user_name = #{record.userName,jdbcType=VARCHAR}
    	         <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  
      <update id="updateByPrimaryKeySelective" parameterType="com.fc.test.model.auto.SysVip">
    update t_sys_vip
    <set>
                          <if test="card != null">
        card = #{card,jdbcType=VARCHAR},
      </if>
                      <if test="level != null">
        level = #{level,jdbcType=VARCHAR},
      </if>
                      <if test="balance != null">
        balance = #{balance,jdbcType=DECIMAL},
      </if>
                      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
                      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
                      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
                      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
                      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
                      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
                      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
              </set>
    where 
            id = #{id,jdbcType=INTEGER}
                                                                                          
  </update>

      	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	

  <update id="updateByPrimaryKey" parameterType="com.fc.test.model.auto.SysVip">
    update t_sys_vip
    set 
             	        	    	 			card = #{card,jdbcType=VARCHAR},
		     	        	    	 			level = #{level,jdbcType=VARCHAR},
		     	        	    	 			balance = #{balance,jdbcType=DECIMAL},
		     	        	    	 			type = #{type,jdbcType=VARCHAR},
		     	        	    	 			user_id = #{userId,jdbcType=INTEGER},
		     	        	    	 			create_date = #{createDate,jdbcType=TIMESTAMP},
		     	        	    	 			remark = #{remark,jdbcType=VARCHAR},
		     	        	    	 			status = #{status,jdbcType=TINYINT},
		     	        	    	 			update_date = #{updateDate,jdbcType=TIMESTAMP},
		     	        	    	 			user_name = #{userName,jdbcType=VARCHAR}
		     	        where 
            id = #{id,jdbcType=INTEGER}
                                                                                            
  </update>
  
                                                           
</mapper>